@import "../../scss/variables.scss";

.searchBar {
    @extend %ai-center;
    @extend %d-flex;
    @extend %jc-flexend;
    position: $posrel;
}

.search-mobile {
    display: $block !important;
}

.search__container :focus-visible {
    outline: $none;
}

.search-mobile .search__container {
    margin-top: $h10;
    margin-bottom: $h10;
}

.searchBar .search__input {
    font-family: $avenir;
    padding: $p8 $h40 $p8 $h30;
    font-size: $h15;
    line-height: $p18;
    color: $black;
    background-color: $transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: $norepeat;
    background-size: $p18 $p18;
    background-position: $p8 $center;
    border-radius: $h20;
    border: $bordertype3 $black;
    @extend %backface-visibility;
}

.searchBar .btn {
    background: $searchyellow;
    border-radius: $h20;
    font-family: $avenir;
    color: $black;
    font-size: $h15;
    padding: $p8 $p18 $p8 $h20;
    text-decoration: $none;
    border: $bordertype3 $yellowline;
    cursor: $pointer;
    display: $block;
}

.searchBar .btn:hover {
    background: $yellowhover;
    text-decoration: $none;
}

.search__container__mobile {
    margin-left: $auto;
    margin-right: $auto;
    margin-top: $h10;
    margin-bottom: $h20;
}

.searchLoader {
    margin-left: -35px;
    margin-top: $p3;
    position: $posabs;
    width: $h30 !important;
}
