@import "../variables.scss";

.themeStart47 {
  &.themesWrapper {
    overflow-y: $auto !important;
  }

  & .themeWrap {
    left: $p0;
  }

  & .flatThemeCard * {
    text-align: $center;
  }

  & .postCardContent {
    padding: $h10 $h15;
  }

  & .slick-slide,
  & .slick-slide:focus,
  & .slick-slide:active,
  & .slick-slide div:focus {
    outline: $none;
  }

  & .slick-prev,
  & .slick-next {
    width: $h40;
    height: $h60;
    z-index: $zindex6;
    top: $sizehalf;
    width: $p29;
    height: $p29;
    background: $white;
    border-radius: $sizehalf;
    @extend %translateY50;
  }

  & .slick-prev {
    left: -30px;
  }

  & .slick-next {
    right: -30px;
  }

  & .slick-slide img {
    display: $dinline;
  }

  & .slick-next:before,
  & .slick-prev:before {
    font-size: $h30;
    color: $black;
    width: $p26;
    height: $p26;
    position: $posabs;
    left: -1px;
    border-radius: $sizehalf;
    top: $p1;
  }

  & .postNetwork {
    position: $posabs;
    top: $p16;
    left: calc(50% - 12px);
    z-index: $zindexhigh;
    line-height: $p0;

    & i {
      font-size: $p24;
    }
  }

  & .objectCard .postNetwork i {
    color: $white !important;
    text-shadow: $p0 $p0 $p8 rgba(0, 0, 0, 0.42);
  }

  & .post {
    background-clip: $bg-clipx;
    border: $p0;
    border-radius: $h10;
    @include postboxshadow;
    min-height: $w230;
    margin: $h10 $p3;

    & p {
      line-height: normal;
    }
  }

  & .image img {
    max-width: $sizefull;
    width: $sizefull;
  }

  & div.image img[src="https://cdn.tagembed.com/app/image/blur-img.jpg"]
  {
    max-height: $w300;
    @include objfitcover;
    width: $sizefull;
    height: $sizefull;
  }

  & .postAuthorClassic {
    position: $posrel;
    padding: 14.4px;

    & .authorInfo {
      & .postAuthorName {
        font-size: $fs14;
        max-width: $size80;
        margin: $p0 $auto;
        @include ellipsis;
      }
      & .authrHandle,
      & .timePost {
        font-size: $p12;
      }

      & .authrHandle {
        max-width: $w120;
        @include ellipsis;
      }

      & img {
        width: $p56;
        height: $p56;
        @include postboxshadow30;
        border: $bordertype4 $white;
      }
      & .postNetwork {
        position: $posabs;
        right: $h10;
        top: $h10;
        font-size: $fs22;
      }
    }
  }

  & .objectCard .authorInfo {
    margin-top: -45px;
  }

  & .authrHandleTime * {
    vertical-align: $valignmiddle;
    display: $dinlineblock;
    line-height: $inherit;
    float: $none;
    clear: $both;
  }

  & .postedText {
    margin-bottom: $h50;
  }

  & .onlyTextCard {
    & .post {
      text-align: $center;
      padding: $p54 $p0 $p0 $p0;
      min-height: $auto;

      &:focus {
        border: $none;
      }
    }

    & .authorInfo .postAuthorName {
      margin-top: $h10;
    }

    & .postCardContent {
      padding-bottom: $w136;
    }

    & .postAuthorClassic {
      position: $posabs;
      bottom: $p8;
      left: $p0;
      width: $sizefull;
    }
  }

  & .socialPostAction {
    padding: $h10 $p0;
    border-top: $bordertype1;
    @extend %jc-spacevenly;
    @extend %flex-wrap;

    & .social-shareWrapper {
      position: $posrel;
    }
    & .popover-content {
      display: $none;
      position: $posabs;
      bottom: $sizefull;
      padding: $p0;
      padding-bottom: $h10;
      width: $w170;
      right: -1px;
      z-index: $zindex6;

      & .popover-content-inner {
        position: $posrel;
        background: $greyshade10;
        border-radius: $p4;
        @include boxshadow1;

        &:before {
          content: "";
          background: $white;
          position: $posabs;
          bottom: -5px;
          right: $h20;
          width: $h10;
          height: $h10;
          @include roatez;
        }
        & a {
          @extend %d-flex;
          @extend %ai-center;
          color: $white;
          font-size: $p13;
          font-weight: $fw4;
          line-height: $lh1;
          border-top: $bordertop1;
          padding: $p12;
          cursor: $pointer;
          @extend %trans2s;
          position: $posrel;
          text-align: $left;

          &:first-child {
            border-top: $p0;
          }
          &:hover {
            background: $greyshade10;
          }
          & i {
            margin-right: $p7;
          }
        }
      }
      &.onlyShare {
        left: calc(50% - 110px);

        & .popover-content-inner:before {
          right: calc(50% - 30px);
        }
      }
    }
    & a {
      width: $auto;
      padding: $p0 $h5;
      font-size: $p16;
      line-height: $p16;
      @extend %d-flex;
      @extend %ai-center;

      & svg {
        margin-right: $h5;
        width: $h15;
        height: $auto;
      }

      &:hover svg path {
        stroke: $secondary;
      }
      &:hover {
        color: $secondary;
      }
    }
  }
  /**/
  & .post .postContent .image img.postVideoIcon {
    height: $auto;
    width: $auto;
    position: $posabs;
    right: $h15;
    top: $h15;
    max-height: $h20;
    min-width: $inherit;
    min-height: $inherit;
    border-radius: $p0;
  }
  // popup carousel icon
  & .post .postContent .image div.multipostIcon {
    position: $posabs;
    top: $h15;
    left: $h15;
    right: auto;

    img {
      height: $h20;
      width: $h20;
      max-height: $h20;
      min-height: $h20;
      border-radius: 0;
    }
  }
  & img.noImageThumbnail {
    background-color: $lighgrey2;
    padding-top: $h60 !important;
    padding-bottom: $h70 !important;
    margin-top: $p0 !important;
    border-radius: $h10 $h10 $p0 $p0;
  }
  & img.noImageThumbnail + div img {
    height: $h30 !important;
    margin-top: $h10;
  }
  & .onlyTextCard.hideAuther .postCardContent {
    padding-bottom: $p32;
  }

  & .onlyTextCard.hideAuther .postNetwork {
    top: $h30;
  }

  & .onlyTextCard.hideAuther .postedText {
    margin-bottom: $p18;
  }

  & .onlyTextCard.hideAuther .post {
    padding: $p64 $p0 $p0 $p0;
  }
  // client issue wall id 45232 where type 1 post auther details
  & .flatThemeCard.onlyTextCard .authrHandleTime {
    padding: $p0 $p0 $h25 $p0;
  }
  & .trimContenTrue .image img {
    @include objfitcover;
    height: $sizefull;
  }
  & .trimContenTrue .videoIcon {
    width: $p62 !important;
    height: $auto !important;
    @include scale1;
    @extend %trans3s;
  }
  // new code for LineTrim Start

  & p.chtrLimits.emojiApplied.line2 {
    @include lineclamp2;
  }
  & p.chtrLimits.emojiApplied.line3 {
    @include lineclamp3;
  }
  & p.chtrLimits.emojiApplied.line5 {
    @include lineclamp5;
  }
  & p.chtrLimits.emojiApplied.line4 {
    @include lineclamp4;
  }
  & p.chtrLimits.emojiApplied.line2 {
    @include lineclamp2;
  }
  & p.chtrLimits.emojiApplied.line3 {
    @include lineclamp3;
  }
  & p.chtrLimits.emojiApplied.line5 {
    @include lineclamp5;
  }
  & p.chtrLimits.emojiApplied.line4 {
    @include lineclamp4;
  }
  // new code for LineTrim End
  & .trimContenTrue pre.chtrLimits.emojiApplied {
    @include lineclamp3;
  }
  /* Hashtag highlighter trimcontent css start */
  pre.chtrLimits.emojiApplied.line2 {
    @include lineclamp2;
  }
  pre.chtrLimits.emojiApplied.line3 {
    @include lineclamp3;
  }
  pre.chtrLimits.emojiApplied.line4 {
    @include lineclamp4;
  }
  pre.chtrLimits.emojiApplied.line5 {
    @include lineclamp5;
  }


  /*  NEW CSS FOR LITE CODE START */
  & .trimContenTrue pre.chtrLimits.emojiApplied {
    background-color: $transparent;
    padding: $p0;
  }
}

/*  NEW CSS FOR LITE CODE END */

@media only screen and (max-width: 768px) {
  .themeStart47 {
    & .slick-prev {
      left: -17px;
    }
    & .slick-next {
      right: -25px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .themeStart47 {
    & .slick-prev {
      left: -14px;
    }
    & .slick-next {
      right: -20px;
    }
  }
}

@media only screen and (max-width: 380px) {
  .themeStart47 {
    & .slick-prev {
      left: -10px;
    }
    & .slick-next {
      right: -15px;
    }
  }
}
