
.imgDisplay {
    display: initial !important
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s
}

.lazy-load-image-loaded {
    width: 100%
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.text_trim {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden
}

.horizontal_text_trim {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden
}

.gallery_text_trim {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden
}

@supports (display:-webkit-box) {
    .text_trim {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        white-space: normal
    }

    .horizontal_text_trim {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: normal
    }

    .gallery_text_trim {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: normal
    }
}

.try_animate {
    opacity: 0;
    -webkit-animation: fadeInTry 1.5s ease forwards;
    animation: fadeInTry 1.5s ease forwards
}

@-webkit-keyframes fadeInTry {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeInTry {
    0% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

